.section {
  background-color: var(--black-color);

  position: relative;
  z-index: 50;

  /* border-radius: 2rem 2rem 0 0; */

  padding-top: 25rem;
  padding-bottom: 25rem;
}

.section > div {
  display: grid;
  gap: 4rem;
  grid-template-columns: max-content 1fr;
}

.textWrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.firstLine {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  width: max-content;
}

.label {
  font-size: 1.8rem;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--green-color);
}

.section h2 {
  font-family: var(--font-humane);
  line-height: 90%;
  font-size: 20rem;
  width: max-content;
  text-transform: uppercase;
}

.description {
  /* margin-top: 1rem; */
  font-size: 1.6rem;
  opacity: 0.8;
  font-weight: 500;
  line-height: 140%;

  width: 73rem;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.imageBox {
  height: 50%;
}

.imageWrapper img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  filter: grayscale(100%);
  border: 1px solid rgba(255, 255, 255, 0.05);

  transition: 0.25s ease-in-out;
}

@media (max-width: 900px) {
  .section {
    padding-top: 20rem;
    padding-bottom: 20rem;
  }

  .section > div {
    gap: 2rem;
    /* grid-template-columns: 1fr; */
  }

  .section h2 {
    font-size: 15rem;
  }

  .description {
    width: 55rem;
  }

  .imageWrapper {
    height: 30rem;
  }

  .imageBox {
    height: 100%;
  }
}

@media (max-width: 600px) {
  .section {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  .section > div {
    gap: 2rem;
    grid-template-columns: 1fr;
  }

  .firstLine {
    flex-direction: column;
  }

  .section h2 {
    font-size: 9rem;
  }

  .description {
    width: 100%;
  }

  .imageWrapper {
    height: 30rem;
  }

  .imageBox {
    height: 100%;
  }
}
