.box {
  background: rgba(8, 7, 8, 0.5);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  border-radius: 1rem;
  padding: 3rem 3rem 5rem 3rem;
  width: 38.7rem;
  opacity: 0;
  transform: translateX(100%);
  animation-delay: 0.25s;
}

.box h4 {
  font-size: 4.5rem;
  font-family: var(--font-humane);
  font-weight: 300;
  text-transform: uppercase;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  margin-top: 3rem;
}

.itemMain {
  font-size: 2rem;
}

.itemMain span {
  font-weight: 700;
}

.itemDate {
  margin-top: 0.2rem;
  font-size: 1.4rem;
  opacity: 0.6;

  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .box {
    padding: 2.5rem 2.5rem 4rem 2.5rem;
    width: 100%;
  }

  .box h4 {
    font-size: 4rem;
  }

  .items {
    gap: 1.5rem;

    margin-top: 2rem;
  }

  .itemMain {
    font-size: 1.8rem;
  }

  .itemDate {
    margin-top: 0rem;
    font-size: 1.3rem;
  }
}
