:root {
  --brand-color: #0c3ed4;
  --white-color: #fff;
  --black-color: #080708;
  --green-color: #c3ff0b;

  font-size: 0.694vw;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black-color);
  color: var(--white-color);
  overflow-x: hidden;
  font-family: var(--font-satoshi);
}

.container {
  max-width: 124rem;
  margin-left: auto;
  margin-right: auto;
}

.fadeUp {
  animation-name: fadeUp;
}

.fadeLeft {
  animation-name: fadeLeft;
}

.showOnLoad {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeUp {
  from {
    transform: translateY(110%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.move-logo,
.move-logo2 {
  animation-name: loop;
  animation-duration: 200s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.move-logo2 {
  animation-direction: reverse;
}

@keyframes loop {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

/* @media (max-width: 1440px) {
  :root {
    font-size: 0.694vw;
  }
} */
