.section {
  background-color: var(--black-color);
  position: relative;
  z-index: 10;
  padding-top: 20rem;
  padding-bottom: 10rem;
}

.wrapper {
  position: relative;
}

.logos {
  display: flex;
  overflow: hidden;
  background-color: var(--green-color);
  padding: 2rem 0;
  position: relative;
  transform: scale(1.2);
}

.logos:nth-child(2) {
  background-color: var(--white-color);
  transform: rotate(-5deg) translate(10%, -6rem) scale(1.2);
  transform-origin: right;
}

.logos img {
  height: 6rem;
}

.logos img:nth-child(4),
.logos img:nth-child(10) {
  filter: grayscale(100%);
}

.line {
  padding: 0 7.5rem;

  display: flex;
  align-items: center;
  gap: 15rem;
  transform: translateX(-100%);
}

@media (max-width: 900px) {
  .section {
    padding-top: 20rem;
    padding-bottom: 10rem;
  }

  .logos:nth-child(2) {
    transform: rotate(-5deg) translate(10%, -4rem) scale(1.2);
  }
}

@media (max-width: 600px) {
  .section {
    padding-top: 15rem;
    padding-bottom: 10rem;
  }

  .logos:nth-child(2) {
    transform: rotate(-5deg) translate(10%, -3rem) scale(1.2);
  }

  .logos img {
    height: 5rem;
  }

  .line {
    padding: 0 3.75rem;

    gap: 7.5rem;
  }
}
